/.Lab2Generator.xtendbin
/Lab2Generator.java
/StateAspect.java
/StateAspectStateAspectContext.java
/StateAspectStateAspectProperties.java
/StateMachineAspect.java
/StateMachineAspectStateMachineAspectContext.java
/StateMachineAspectStateMachineAspectProperties.java
/TransitionAspect.java
/TransitionAspectTransitionAspectContext.java
/TransitionAspectTransitionAspectProperties.java
